### Задание 1
Cформировать прогноз показателя "target" для тестовой выборки  
Целевые метрики:
* ошибка = sum(abs(target-forecast))/sum(target) --> 0
* баланс = sum(target-forecast)/sum(target) --> 0  

Структура возвращаемого датасета:
* warehouse
* article
* year_week
* forecast

In [2]:
import pandas as pd

In [4]:
# Известные данные
pd.read_csv('train.csv').head()

,warehouse,article,year_week,price,target
0,сергиев посад-6 городок №1,"йогурты вязкие даниссимо 6,9% 105г №7",202038,49.6,0.0
1,сергиев посад-6 городок №1,"йогурты вязкие даниссимо 6,9% 105г №7",202104,49.6,0.0
2,сергиев посад-6 городок №1,"йогурты вязкие даниссимо 6,9% 105г №7",201947,49.6,0.0
3,сергиев посад-6 городок №1,"йогурты вязкие даниссимо 6,9% 105г №7",202040,49.6,1.0
4,сергиев посад-6 городок №1,"йогурты вязкие даниссимо 6,9% 105г №7",202048,43.3,0.0

In [ ]:
#EDa

In [7]:
# Тестовые данные
pd.read_csv('test.csv').head(5)

,warehouse,article,year_week,price
0,сергиев посад-6 городок №1,"йогурты вязкие даниссимо 6,9% 105г №7",202132,49.6
1,сергиев посад-6 городок №1,"йогурты вязкие даниссимо 6,9% 105г №7",202127,49.6
2,сергиев посад-6 городок №1,"йогурты вязкие даниссимо 6,9% 105г №7",202133,49.6
3,сергиев посад-6 городок №1,"йогурты вязкие даниссимо 6,9% 105г №7",202129,49.6
4,сергиев посад-6 городок №1,"йогурты вязкие даниссимо 6,9% 105г №7",202134,49.6